<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Criar Volume</title>
</head>
<body>
<h1>Cadastrar Novo Volume</h1>
  <form class="container" method="post">
    Nome: <input type="text" value="" name="nome"/>
    <div class="row">
      <div class="input-field col s6">
        Local: <input type="text" value="" name="local"/>
      </div>
      <div class="input-field col s3">
        Data: <input type="text" value="" name="data"/>
      </div>
      <div class="input-field col s3">
        Horario: <input type="time" value="" name="horario"/>
      </div>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Salvar</button>
  </form>
</body>
</html>